extends layout

block content
    div(class="container")
        
    .container.pt-4
    h2 Operaciones CRUD
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr
              th(scope='col') Carnet
              th(scope='col') Nombre
              th(scope='col') Apellido
              th(scope='col') Telefono
              th(scope='col') Email 
              th(scope='col') Activo
          tbody
           - for (var i = 0; i < alumno.length; i++)
            tr
              th(scope='row') #{alumno[i].carnet}
              td #{alumno[i].nombre}
              td #{alumno[i].apellido}
              td #{alumno[i].telefono}
              td #{alumno[i].email}
              td #{alumno[i].activo}
              td 
                form(action=`delete  /${alumno[i].carnet}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar

    
        
